/testproject01/target/
/FirstJavaProject/nbproject/private/
/FirstJavaProject/build/
/FirstOOPAplication/nbproject/private/
/FirstOOPAplication/build/
/Encapsulation/nbproject/private/
/Encapsulation/build/
/JavaApplicationTesst/nbproject/private/
