/testproject01/target/
/FirstJavaProject/nbproject/private/
/FirstJavaProject/build/
/FirstOOPAplication/nbproject/private/
/FirstOOPAplication/build/
/Encapsulation/nbproject/private/
/Encapsulation/build/
/JavaApplicationTesst/nbproject/private/
/JavaApplicationTesst/build/
/JavaBasics/nbproject/private/
/JavaQuestion/nbproject/private/
/UiDevelopment/nbproject/private/
/UiDevelopment/build/
/LabSheet/nbproject/private/
/JavaApplication2/nbproject/private/
/JavaApplication3/nbproject/private/
/JavaApplication2/build/
/POS/nbproject/private/
/POS/build/
/LabSheet02/nbproject/private/
/LabSheet02/build/
/JavaApplication6/nbproject/private/
